body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
/*
.header {
    text-align: center; 
    height: 80px;
    font-family: "ABeeZee";
    color: #FFFF;
    background-color: #FF6700;
    margin: 0px auto;
    width: 100%;
    //position: -webkit-sticky;
    //position: sticky;
    //top: 0;
}
.header h1{
    margin-left: 200px;
}
.logo{
    width: auto; height: 100%;
}
.logo_text{
    font-family: Raleway;
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 20px;
}
.searchbar{
    border-radius: 10px;
    width: 220px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    height: 20px;
    float: right;
    margin-top: 5px;
}
*/
.header {
  color: #ffff;
  background-color: #ff6700;
  position: -webkit-sticky;
  font-family: Raleway;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header ul li {
  float: left;
}
#searchbar_li {
  margin-top: 27px;
  margin-right: 50px;
  float: right;
}
.searchbar {
  border-radius: 10px;
  width: 220px;
  text-align: center;
  height: 20px;
  float: right;
}

.logo {
  width: 80px;
  height: auto;
}
.intro {
  margin-top: 50px;
  text-align: justify;
  font-family: Raleway;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}
.intro p {
  margin: auto;
}
#main_photo {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.main_photo_div {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  margin-top: 50px;
  display: none;
}
#slide
{
  max-height: 500px;
  width: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.specs {
  margin-top: 50px;
  text-align: justify;
  font-family: Raleway;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}
.specs p {
  margin: auto;
}
.compare{
  margin-top: 50px;
  text-align: justify;
  font-family: Raleway;
  margin-right: auto;
  margin-left: auto;
  width: 75%
}
.compare ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.compare ul li {
  float: left;
}